---

const navItems = [
  {
    title: "Experience",
    label: "exp",
    url: "/#exp",
  },
  {
    title: "Technologies",
    label: "techs",
    url: "/#techs",
  },
  {
    title: "About",
    label: "about",
    url: "/#about",
  },
]

const mail="facusilberman@gmail.com"
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex items-center justify-center px-3 text-sm font-medium text-gray-600 rounded-full"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 text-white transition hover:text-yellow-500"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <a class="relative block px-2 py-2 text-white transition hover:text-yellow-500" href={`mailto:${mail}`}>
      <span class="link">Contact</span>
  </a>
    <!-- <a class="relative block px-2 py-2 text-white transition hover:text-yellow-500" href={resume} target="_blank" download="Resume.pdf">
        <span class="link">Contacto</span>
    </a> -->
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500")
            } else {
              item.classList.remove("text-yellow-500")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
